[submodule "third-party/ThunderKittens"]
	path = third-party/ThunderKittens
	url = https://github.com/HazyResearch/ThunderKittens.git
[submodule "third-party/llm.c"]
	path = third-party/llm.c
	url = https://github.com/karpathy/llm.c.git
[submodule "third-party/nanoGPT"]
	path = third-party/nanoGPT
	url = https://github.com/Itssshikhar/nanoGPT.git
[submodule "third-party/Megatron-LM"]
    path = third-party/Megatron-LM
    url = https://github.com/NVIDIA/Megatron-LM.git
